language: node_js

node_js:
  - "stable"

dist: focal

branches:
  only:
    - main

cache:
  directories:
    - node_modules

install:
  - npm install

script:
  - npm run build
  - mv build/index.html build/404.html

deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN
  local_dir: build
  on:
    branch: main
